*.pptx
**/*.pptx
*.avif
*.bmp
*.gif
*.j2k
*.jp2
*.jpx
*.pcx
*.tiff
*.tif
*.jpg
*.jpeg
*.png
*.webp
**/*.avif
**/*.bmp
**/*.gif
**/*.j2k
**/*.jp2
**/*.jpx
**/*.pcx
**/*.tiff
**/*.tif
**/*.jpg
**/*.jpeg
**/*.png
**/*.webp

__pycache__/**
**/__pycache__

file_database
**/file_database
*.log
**/*.log
*.yaml
**/*.yaml
.DS_Store
**/.DS_Store
